<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ch03</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>

  </welcome-file-list>
  	<context-param>
  		<param-name>name</param-name>
  		<param-value>홍길동</param-value>
  	</context-param>
  	<context-param>
  	<param-name>age</param-name>
  	<param-value>27</param-value>
  	</context-param>
  	<context-param>
  	<param-name>gender</param-name>
  	<param-value>여자</param-value>
  	</context-param>
  	<context-param>
  	<param-name>sports</param-name>
  	<param-value>축구 배구 농구 야구 놀기 웃기</param-value>
  	</context-param>
  	<error-page>
  		<error-code>500</error-code>
  		<location>/Error/error1_500.html</location>
  	</error-page>
  	<error-page>
  		<error-code>404</error-code>
  		<location>/Error/error2_404.html</location>
  	</error-page>
</web-app>